[Desktop Entry]
Actions=open;
MimeType=image/*;application/pdf;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action open]
Exec=/usr/bin/gimp %U
Icon=gimp
Name=Open in gimp
