[Desktop Entry]
Actions=open;
MimeType=audio/*;video/*;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action open]
Exec=kid3-qt %F
Icon=kid3
Name=Open in kid3
